<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am currently interning at Apple, and will continue my studies at Stanford in
            the Fall, working towards my BS in Computer Science with a concentration in 
            Systems and Security. I have experience working with many different technologies,
            from cryptographic research in C, C++, and Python, to AR development in 
            Javascript and Swift.
        </p>
        <p>
            I want to design meaningful products that truly change the way we think about
            technology and the world around us. 
            That is why I love games as a medium; to allow the players to empathize and
            see the world in a new way. 
            I'm looking for intern/full-time roles for Summer 2020, to experience hands-on
            what it would be like to work in the game industry. 
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Developed an internal, cross-platform mobile AR tool using Nativescript, as a
            proof-of-concept for release as a tool for customers.
    			</li>
          <li>
            Along with a group of other Stanford students, implemented a secure enclave-to-
            webserver connection, to protect sensitive user information submitted online
            even if the OS is fully compromised.
          <li>
            Automated test automation in ramp-up to large data center migration, saving hundreds of developer hours.
		    </ul>
	    </div>
    </div>
  </div>
</section>
