<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Video Games</b>. I play a lot of Overwatch, trying to figure out the 
                 best way to climb the ladder by watching the professionals in the esports
                 leagues. I'm currently figuring out the best way to get better, as I've
                 been stuck at my ranking for too long now.
			  </li>
			  <li>
				  <b>Linux/hacking</b>. I break my computer way too often, whether by
                  overriding critical dependencies (for 'science') or accidentally 
                  formatting the wrong Hackintosh partition. I had a fully functioning 
                  computer once; but what's the fun in that?
			  </li>
			  <li>
				  <b>Taekwondo</b>. I'm not sure if I enjoy it, but I kick once in a while
                  with my college team. I think the competitive nature of it really draws me
                  in, despite not being very good at it.
              </li>
              <li>
                  <b>Aesthetics</b>. This one is a bit vague; I appreciate good art, music,
                  and design. I think there is a balance between function and form, and
                  designs that can do both well really intrigue me. 
              </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Other (small) Projects</h3>
		  <ul>
            <li>
                <b>FamiliAR</b> was one of the first Escape Room VR/AR games on the App 
                Store. 
                Although not my proudest work, I was intrigued by the issues I faced not 
                only with developing solutions to AR spatial problems, but also how to take 
                charge on a fragmented team. 
            </li>
            <li>
                <b>Woe</b> was another game I made in high school with the aesthetics of 
                Duet, a similar mobile game, in mind. I enjoyed the experimentation I 
                did with this game with minimalism in both visual and input design.
            </li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
                I connected my Raspberry Pi with LEDs and ran an Amazon Echo server off it
                so I could control my LEDs with my custom commands with Alexa.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
