.markdown-body { font-size: 9.5px; }
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    margin-top: 10px;
    margin-bottom: 0;
}
.markdown-body h1 {
    font-size: 1.5em;
}
.markdown-body h2 {
    font-size: 1.25em;
}
.markdown-body blockquote, .markdown-body details, .markdown-body dl, .markdown-body ol, .markdown-body p, .markdown-body pre, .markdown-body table, .markdown-body ul {
    margin-bottom: 0;
}
.markdown-body p {
    margin-bottom: 0;
}
