:root {
    --light-blue: #18B0B0;
    --dark-blue: #1156979;
    --light-grey: #a4a8ab;
    --dark-grey: #808284;
    --orange: #DE7119;
    --white: white;
}

html {
    background-color: var(--light-grey);
    font-family: 'Krub', sans-serif;
}

body {
    margin: 0;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    top: 0; 
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--dark-grey);
    padding: 2px 14px 7px 14px;
    border-radius: 0 0 14px 14px;
    font-size: larger;
}
#menu a {
    border-radius: 6px;
    padding: 3px;
    transition: 0.2s;
    color: var(--white);
    text-decoration: none;
}

#menu a:hover {
    color: var(--light-blue);
    font-size: 115%;
}
