.section-title {
    font-weight: lighter;
    /* background-image: url(../images/gallery_areyouhere.png); */
    z-index: 1;
    transform: translate3d(0, 0, 1px);
    overflow: hidden;
}

.bg-video {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -20;
    transform: translate3d(0, 0, -20px);
    -webkit-transform: translate3d(0, 0, -20px);
}

.section-title2 {
    margin: 0;
}

#gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}

a.gallery-item {
    transition: 0.2s;
    width: 24vw;
    height: 24vw;
    overflow: hidden;
    /* margin : 1%; */
}

@media only screen and (max-width: 650px) {
    a.gallery-item {
        width: 48vw;
        height: 48vw;
    }
}

@media only screen and (max-width: 300px) {
    a.gallery-item {
        width: 96vw;
        height: 96vw;
    }
}

a.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: -10;
    transform: translate3d(0, 0, -10px);
    -webkit-transform: translate3d(0, 0, -10px);
}

a.gallery-item div.text-overlay {
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 1;
    transition: 0.2s;
    background-color: rgba(70,70,70,0.5);
    /*Text*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: var(--white);
    z-index: 1;
    transform: translate3d(0,0,1px);
    -webkit-transform: translate3d(0,0,1px);
}

@media(hover: hover) and (pointer: fine) {
    a.gallery-item img {
        filter: none;
        -webkit-filter: none;
    }
    a.gallery-item:hover img {
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
    a.gallery-item div.text-overlay {
        opacity: 0;
    }
    a.gallery-item:hover div.text-overlay {
        opacity: 1;
    }
}