.section-title {
    /* background-image: url(../images/gallery_areyouhere.png); */
    font-size: xxx-large;
    font-weight: lighter;
}

.section-title2 {
    margin: 0;
}

#gallery {
    display: grid;
    justify-content: center;
    z-index: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 25vw);
    margin: auto;
}

a.gallery-item {
    display: inline-grid;
    align-items: center;
    justify-items: center;
    transition: 0.2s;
    background-color: transparent;
    padding: 0;
    border: 0;
    position: -webkit-sticky;
    /* overflow: hidden; */
    /* margin : 1%; */
}

a.gallery-item div.color-overlay {
    position: fixed;
    background-color: var(--half-dark-blue); /* rgba(70,70,70,0.5); */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: 0.2s;
}

a.gallery-item div.text-overlay {
    /* position: absolute; */
    width: 25vw;
    height: 25vw;
    opacity: 1;
    transition: 0.2s;
    /* background-image: var(--linear-grad-bg); */
 
    /*Text*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: var(--white);
    z-index: 1;
    /* transform: translate3d(0,0,1px), scale(1);
    -webkit-transform: translate3d(0,0,1px), scale(1); */
    }
a.gallery-item div.text-overlay.left-corner {
    align-items: flex-start;
    background-image: none;
    background-color: transparent;
    justify-content: flex-start;
}

a.gallery-item div.text-overlay.right-corner {
    align-items: flex-start;
    background-image: none;
    background-color: transparent;
    justify-content: flex-end;
}

a.gallery-item div.text-overlay span {
    margin: 3%;
    background-color: var(--soft-red);
    font-size: smaller;
    border-radius: 0.5vw;
    padding: 0 0.5vw;
    z-index: 20;
    /* transform: translate3d(0,0,20px), scale(1);
    -webkit-transform: translate3d(0,0,20px), scale(1); */
}
/* @media only screen and (max-width: 1440px) {
    a.gallery-item {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 25vw);
    }
}  */
@media only screen and (max-width: 860px) {
    #gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 33.3vw);
    }
    a.gallery-item div.text-overlay {
        width: 33.3vw;
        height: 33.3vw;
    }
} 
@media only screen and (max-width: 650px) {
    #gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 50vw);
    }
    a.gallery-item div.text-overlay {
        width: 50vw;
        height: 50vw;
    }
}

@media only screen and (max-width: 300px) {
    #gallery {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 100vw);
    }
    a.gallery-item div.text-overlay {
        width: 100vw;
        height: 100vw;
    }
}

a.gallery-item .gallery-image-content {
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
a.gallery-item .gallery-image {
    width: 80%;
    height: 80%;
    margin: auto;
    object-fit: cover;
    z-index: -10;
    transform: translate3d(0, 0, -10px);
    /* -webkit-transform: translate3d(0, 0, -10px); */
    transition: 0.2s;
    border-radius: 0.5vw;
    box-shadow: 6px 6px 20px rgba(4, 29, 29, 0.6), 
                -3px -3px 40px rgba(201, 241, 241, 0.95);
    overflow: hidden;
}
@media (prefers-color-scheme: dark) {
    a.gallery-item .gallery-image {
        box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.918), 
                    -3px -3px 40px rgba(162, 232, 232, 0.230);
    }
}

@media(hover: hover) and (pointer: fine) {
    a.gallery-item .gallery-image-content {
        filter: none;
        -webkit-filter: none;
    }
    a.gallery-item:hover .gallery-image-content, a.gallery-item:focus .gallery-image-content {
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
    a.gallery-item:hover .gallery-image, a.gallery-item:focus .gallery-image {
        width: 100%;
        height: 100%;
    }
    a.gallery-item div.text-overlay, a.gallery-item div.color-overlay {
        opacity: 0;
    }
    a.gallery-item:hover div.text-overlay, a.gallery-item:focus div.text-overlay,
    a.gallery-item:hover div.color-overlay, a.gallery-item:focus div.color-overlay {
        opacity: 1;
    }
    a.gallery-item div.text-overlay span {
        background-color: var(--red);
        font-size: inherit;
    }
}