.section-title {
    /* background-image: url(../images/gallery_areyouhere.png); */
    font-size: xxx-large;
}

.section-title2 {
    margin: 0;
}

#gallery {
    display: grid;
    justify-content: center;
    z-index: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 25vw);
    margin: auto;
}

a.gallery-item {
    display: inline-grid;
    align-items: center;
    justify-items: center;
    transition: 0.2s;
    background-color: transparent;
    padding: 0;
    border: 0;
    overflow: hidden;
    /* margin : 1%; */
}

a.gallery-item div.text-overlay {
    /* position: absolute; */
    width: 25vw;
    height: 25vw;
    opacity: 1;
    transition: 0.2s;
    /* background-image: var(--linear-grad-bg); */
    background-color: var(--half-dark-blue); /* rgba(70,70,70,0.5); */
    /*Text*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: var(--white);
    z-index: 1;
    transform: translate3d(0,0,1px), scale(1);
    -webkit-transform: translate3d(0,0,1px), scale(1);
}
a.gallery-item div.text-overlay.left-corner {
    align-items: flex-start;
    background-image: none;
    background-color: transparent;
    justify-content: flex-start;
}
a.gallery-item div.text-overlay span {
    margin: 1%;
    background-color: var(--soft-red);
    font-size: smaller;
    border-radius: 0.5vw;
    padding: 0 0.5vw;
    z-index: 20;
    transform: translate3d(0,0,20px), scale(1);
    -webkit-transform: translate3d(0,0,20px), scale(1);
}
/* @media only screen and (max-width: 1440px) {
    a.gallery-item {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 25vw);
    }
}  */
@media only screen and (max-width: 860px) {
    #gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 33.3vw);
    }
    a.gallery-item div.text-overlay {
        width: 33.3vw;
        height: 33.3vw;
    }
} 
@media only screen and (max-width: 650px) {
    #gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 50vw);
    }
    a.gallery-item div.text-overlay {
        width: 50vw;
        height: 50vw;
    }
}

@media only screen and (max-width: 300px) {
    #gallery {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 100vw);
    }
    a.gallery-item div.text-overlay {
        width: 100vw;
        height: 100vw;
    }
}

a.gallery-item .gallery-image {
    width: 80%;
    height: 80%;
    margin: auto;
    object-fit: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: -10;
    transform: translate3d(0, 0, -10px);
    -webkit-transform: translate3d(0, 0, -10px);
}

a.gallery-item div.text-overlay.right-corner {
    align-items: flex-start;
    background-image: none;
    background-color: transparent;
    justify-content: flex-end;
}

@media(hover: hover) and (pointer: fine) {
    a.gallery-item .gallery-image {
        filter: none;
        -webkit-filter: none;
    }
    a.gallery-item:hover .gallery-image, a.gallery-item:focus .gallery-image {
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
    a.gallery-item div.text-overlay {
        opacity: 0;
    }
    a.gallery-item:hover div.text-overlay, a.gallery-item:focus div.text-overlay {
        opacity: 1;
    }
    a.gallery-item div.text-overlay span {
        background-color: var(--red);
        font-size: inherit;
    }
}