.section-title {
    /* background-image: url(../images/gallery_areyouhere.png); */
    font-size: xxx-large;
    font-weight: lighter;
}

.section-title2 {
    margin: 0;
}

#gallery {
    display: grid;
    justify-content: center;
    z-index: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, calc(0.66 * 25vw));
    margin: auto;
}

a.gallery-item {
    display: inline-grid;
    align-items: center;
    justify-items: center;
    transition: 0.2s;
    background-color: transparent;
    padding: 0;
    border: 0;
    position: -webkit-sticky;
    cursor: pointer;
    /* overflow: hidden; */
    /* margin : 1%; */
}

a.gallery-item span.link {
    display: none;
}

a.gallery-item div.color-overlay {
    position: fixed;
    background-color: var(--half-dark-blue); /* rgba(70,70,70,0.5); */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: 0.2s;
}

a.gallery-item div.color-overlay.color-body {
    opacity: 0;
    background-color: rgba(31, 31, 31, 0.692);
}

a.gallery-item div.color-overlay.color-body .corner-cut {
    position: absolute;
    bottom: 0; right: 0;
    border-top: 3vw solid var(--soft-red);
    border-right: 3vw solid white;
    width: 0;
}
a.gallery-item div.color-overlay.color-body .corner-cut:before {
    content: 'more';
    position: absolute;
    font-weight: bold;
    transform: rotate(-45deg);
    bottom: 0.70vw; left: 0.70vw;
    color: rgba(31, 31, 31, 0.692);
    font-size: .85vw;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

a.gallery-item div.text-overlay {
    /* position: absolute; */
    width: 25vw;
    height: calc(0.66 * 25vw);
    opacity: 1;
    transition: 0.3s;
    /* background-image: var(--linear-grad-bg); */
 
    /*Text*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: var(--white);
    z-index: 1;
    /* transform: translate3d(0,0,1px), scale(1);
    -webkit-transform: translate3d(0,0,1px), scale(1); */
    text-align: left;
}

a.gallery-item div.text-overlay.item-title {
} 

a.gallery-item div.text-overlay.item-body {
    flex-direction: column;
    opacity: 0;
    font-size: medium;
    /* text-align: left; */
}

a.gallery-item div.text-overlay div {
    padding: 10%;
}

a.gallery-item div.text-overlay.item-body a {
    position: fix;
}

a.gallery-item div.text-overlay.left-corner {
    align-items: flex-start;
    background-image: none;
    background-color: transparent;
    justify-content: flex-start;
}

a.gallery-item div.text-overlay.right-corner {
    align-items: flex-start;
    background-image: none;
    background-color: transparent;
    justify-content: flex-end;
}

a.gallery-item div.text-overlay span {
    margin: 3%;
    background-color: var(--soft-red);
    font-size: smaller;
    border-radius: 0.5vw;
    padding: 0 0.5vw;
    z-index: 20;
    /* transform: translate3d(0,0,20px), scale(1);
    -webkit-transform: translate3d(0,0,20px), scale(1); */
}
@media only screen and (max-width: 1400px) {
    #gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, calc(33.3vw * 0.66));
    }
    a.gallery-item div.text-overlay {
        width: 33.3vw;
        height: calc(33.3vw * 0.66);
    }
    a.gallery-item div.color-overlay.color-body .corner-cut {
        border-top-width: 4.5vw;
        border-right: 4.5vw solid var(--white);
    }
    a.gallery-item div.color-overlay.color-body .corner-cut:before {
        bottom: 0.9vw; left: 0.9vw;
        font-size: 1.3vw;
    }
} 
@media only screen and (max-width: 1000px) {
    #gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, calc(50vw * 0.66));
    }
    a.gallery-item div.text-overlay {
        width: 50vw;
        height: calc(50vw * 0.66);
    }
    a.gallery-item div.color-overlay.color-body .corner-cut {
        border-top-width: 6vw;
        border-right: 6vw solid white;
    }
    a.gallery-item div.color-overlay.color-body .corner-cut:before {
        bottom: 1.2vw; left: 1.2vw;
        font-size: 1.8vw;
    }
} 
@media only screen and (max-width: 650px) {
    #gallery {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, calc(100vw * 0.66));
    }
    a.gallery-item div.text-overlay {
        width: 100vw;
        height: calc(100vw * 0.66);
    }
    a.gallery-item div.color-overlay.color-body .corner-cut {
        border-top-width: 9vw;
        border-right: 9vw solid white;
    }
    a.gallery-item div.color-overlay.color-body .corner-cut:before {
        bottom: 1.4vw; left: 1.4vw;
        font-size: 3.3vw;
    }
}
/* 
@media only screen and (max-width: 300px) {
    #gallery {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 100vw);
    }
    a.gallery-item div.text-overlay {
        width: 100vw;
        height: 100vw;
    }
} */

a.gallery-item .gallery-image-content {
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
a.gallery-item .gallery-image {
    width: 70%;
    height: 80%;
    margin: auto;
    object-fit: cover;
    z-index: -10;
    transform: translate3d(0, 0, -10px);
    /* -webkit-transform: translate3d(0, 0, -10px); */
    transition: 0.2s;
    border-radius: 0.5vw;
    /* box-shadow: 6px 6px 20px rgba(4, 29, 29, 0.6), 
                -3px -3px 40px rgba(201, 241, 241, 0.95); */

    box-shadow: 15px 15px 30px rgb(22, 124, 124), 
                -15px -15px 30px rgb(33, 207, 207);
    overflow: hidden;
}

@media (prefers-color-scheme: dark) {
    a.gallery-item .gallery-image {
        /* box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.918), 
                    -3px -3px 40px rgba(162, 232, 232, 0.230); */
        /* box-shadow: 30px 30px 60px rgb(21, 21, 21), 
        -15px -15px 30px rgb(43, 43, 43); */
        box-shadow: 20px 20px 40px rgb(0, 0, 0), 
                    -20px -20px 40px rgb(58, 58, 58);
    }
}

@media(hover: hover) and (pointer: fine) {
    #gallery {
        padding: 0 10vw 0;
    }

    a.gallery-item .gallery-image-content {
        filter: none;
        -webkit-filter: none;
    }
    a.gallery-item:hover .gallery-image-content, a.gallery-item:focus .gallery-image-content {
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
    a.gallery-item:hover .gallery-image, a.gallery-item:focus .gallery-image {
        width: 99%;
        height: 85%;
    }
    /* a.gallery-item .gallery-image, a.gallery-item .gallery-image {
        width: 85%;
        height: 85%;
    } */
    a.gallery-item div.text-overlay, a.gallery-item div.color-overlay.color-title {
        opacity: 0;
    }

    a.gallery-item:hover div.text-overlay, a.gallery-item:focus div.text-overlay,
    a.gallery-item:hover div.color-overlay.color-title, a.gallery-item:focus div.color-overlay.color-title {
        opacity: 1;
    }
    a.gallery-item div.color-overlay.color-body .corner-cut {
        border-top-color: var(--red);
    }
    a.gallery-item div.text-overlay span {
        background-color: var(--red);
        font-size: inherit;
    }
    a.gallery-item div.text-overlay div {
        padding: 14%;
    }
}