:root {
    --light-blue: #18B0B0;
    --half-light-blue: rgba(24, 176, 176, 0.438);
    --medium-blue: #115F71;
    --half-dark-blue: rgba(13, 53, 72, 0.384);
    --dark-blue: #0D3548;
    --light-grey: #62626245; /*#7a7a7a; */
    --medium-grey: #595959;
    --dark-grey: #333; /* #808284; */
    --orange: #FDA965;
    --light-orange: rgb(252, 198, 155);
    --half-orange: rgba(253, 169, 101, 0.342);
    --white: white;
    --red: rgb(201, 57, 57);
    --soft-red: rgb(206, 86, 86);
    --black: #1E1E1E;
    --linear-grad-bg: linear-gradient(var(--half-orange), var(--half-dark-blue), var(--half-orange));
    --radial-grad-bg: radial-gradient(var(--half-dark-blue), var(--half-orange));
    --menu-header-font: 'DM Mono', monospace;
    --body-font: 'Krub', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

html {
    background-color: var(--light-blue);
    /* background-image: url("../images/grid-background.jpg");
    background-size: 100px; */
    /* font-family: 'Krub', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: var(--menu-header-font);
    font-weight: lighter;
    color: var(--white);
}

body {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h2, h3 {
    font-weight: bolder;
    /* border-top: 3px dotted; */
}

#menu {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.2em;
    align-items: center;
    top: 0;
    margin-bottom: 1%;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--dark-blue);
    padding: 0.2% 0.7% 0.2% 0.7%;
    font-size: larger;
}

#menu a {
    flex: 0 1 auto;
    margin: 0.3%;
    white-space: nowrap;
    border-radius: 6px;
    padding: 5px 0.3%;
    /* min-height: 44px; */
    color: var(--white);
    text-decoration: none;
    transition: all 0.2s;
}

#menu a:hover, #menu a:focus {
    color: var(--light-blue);
    transform: scale(1.02);
}

.section-title {
    background-size: cover;
    background-color: var(--medium-grey);
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: saturation;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vmax;
    margin: 0;
    z-index: 1;
    transform: translate3d(0, 0, 1px);
    overflow: hidden;
    color: white;
    font-weight: lighter;
}
.section-title-sub {
    font-size: x-large;
}
.section-title-text {
    background-color: var(--dark-blue);
    padding: 1vw;
    /* border-radius: 0.5vw; */
    box-shadow: 7px 7px 14px rgb(51, 51, 51);
}

.section-title.small {
    height: 10vmax;
}

.section-title-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -20;
    /* transform: translate3d(0, 0, -20px);
    -webkit-transform: translate3d(0, 0, -20px); */
    pointer-events: none;
    cursor: default;
}

.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.text-overlay {
    position: absolute;
    /* background-image: var(--radial-grad-bg); */
    /* background-color: var(--half-dark-blue); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    z-index: -2;
    /* transform: translate3d(0, 0, -2px); */
}

a:link { /* Let's have all external links orange, and internal blue */
    background-color: var(--dark-blue);
    padding: 1px;
    border-radius: 2px;    
    text-decoration: none;
    transition: all 0.2s;
    color: var(--white);
}
#menu a:link {
    background-color: inherit;
}

a:visited {
    color: var(--white);
}

a.external:hover, a.external:focus {
    color: var(--orange);
}

a:hover, a:focus {
    color: var(--light-blue);
}

.section-row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    max-width: calc(1440px + 3vmax);
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.section-col {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    min-width: 250px;
    flex-wrap: nowrap;
    align-self: center;
    justify-content: center;
    align-items: stretch;
}

.section-picture {
    position: relative;
    margin: 1.5vmax;
    align-self: center;
}

.section-picture > img {
    border-start-end-radius: 5vw;
    border-radius: 40px;
    max-width: 85vw;
    height: auto;
}

.section-body {
    box-sizing: border-box;
    position: relative;
    margin: 1.5vmax;
    padding: 5vw;
    border-start-end-radius: 5vmax;
    border-radius: 1vmax;
    max-width: 1440px;
    min-width: 250px;
    align-self: center;
    /* align-self: stretch; */
    text-align: left;
    line-height: 1.6;
    /* width: 100%; */
    /* flex-grow: 1; */
    /* font-family: var(--body-font); */
}

.section-row > .section-body {
    flex-basis: 0;
    align-self: stretch;
    max-width: 900px;
}
.section-col > .section-body {
    flex-basis: 0;
    align-self: stretch;
    max-width: 900px;
}

.section-body > .section-body {
    padding: 0;
}

.section-body > .section-picture {
    padding: 0;
}

.section-body:before, .section-picture:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-start-end-radius: 5vw;
    border-radius: 1vw;
    z-index: -1;
    box-shadow: 15px 15px 30px rgb(19, 108, 108), 
                -15px -15px 30px rgb(35, 223, 223);
}

.section-picture:before {
    border-radius: 40px;
}

.unfocused {
    outline: none;
}

footer {
    margin-top: 1%;
    max-width: 1440px;
    padding: 0 5vw;
    color: var(--white);
    border-top: 2px solid var(--white);
    align-self: center;
}

@media only screen and (max-width: 440px) {
    #menu {
        font-size: medium;
        /* flex-direction: column; */
    }
    .section-title {
        height: 30vmax;
    }
    .section-title.small {
        height: 20vmax;
    }
}

@-o-viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}
@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@media (prefers-color-scheme: dark) {
    html { 
        background-color: var(--black); 
    }
    #menu {
        background-color: var(--dark-blue);
    }
    a:link {
        background-color: var(--medium-blue);
    }
    .section-body:before, .section-picture:before {
        box-shadow: 20px 20px 40px rgb(0, 0, 0), 
                    -20px -20px 40px rgb(58, 58, 58);
    }
    .section-body {
        background-color: var(--black);
    }
}
@media (prefers-color-scheme: light) {
    html { 
        background-color: var(--light-blue);
    }
    #menu {
        background-color: var(--medium-blue);
    }
    a:link {
        background-color: var(--dark-blue);
    }
    .section-body {
        background-color: var(--light-blue);
    }
}